[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pylint-flask-sqlalchemy = "*"

[packages]
flask = "*"
flask-graphql = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
sqlalchemy-utils = "*"
argon2-cffi = "*"
flask-jwt-extended = "*"
flask-cors = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
