[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
paho-mqtt = "*"
sqlalchemy = "*"
psycopg2 = "*"
sendgrid = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
