[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gpiozero = "*"
python-dotenv = "*"
"rpi.gpio" = "*"
spidev = "*"
nanpy = "*"
rpi-lcd = "*"
adafruit-circuitpython-matrixkeypad = "*"
opencv-contrib-python = "==4.1.0.25"
sqlalchemy = "*"
psycopg2 = "*"
paho-mqtt = "*"

[requires]
python_version = "3.7"
