[[source]]
name = "piwheels"
url = "https://www.piwheels.org/simple"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gpiozero = "*"
"rpi.gpio" = "*"
spidev = "*"
nanpy = "*"
rpi-lcd = "*"
adafruit-circuitpython-matrixkeypad = "*"
paho-mqtt = "*"
pyjwt = "*"
picamera = "*"

[requires]
python_version = "3.7"
